name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  # JOB 1: Calculate Version & Push Tag
  auto-tag:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch # Default to v1.0.1 if no "feat:" found

  # JOB 2: Create Release & Update Homebrew
  release:
    needs: auto-tag
    # Only run if a new tag was actually created
    if: ${{ needs.auto-tag.outputs.new_tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Crucial for GoReleaser to see git history

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          # Uses the standard token for the release in current repo
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Uses your PAT for the Homebrew Tap repo
          GORELEASER_TOKEN: ${{ secrets.GORELEASER_TOKEN }}